@import "normalize.css";
@import "awsm.css/dist/awsm.css";

.awesome-logo {
	max-width: 500px;
	width: 100%;
	margin: auto;
	display: block;
}

.awesome-vegan-flag {
	max-width: 500px;
	width: 100%;
	margin: auto;
	display: block;
}

h1:first-of-type {
	background-image: url("awesome-vegan-flag.svg");
	background-size: 12rem;
	background-repeat: no-repeat;
	background-position: 50% 0;
	font-size: 4.5rem;
	text-align: center;
	margin: auto;
	width: min-intrinsic;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
}

h1:first-of-type a {
	margin: 2.5rem 0;
	display: block;
}

.content {
	margin: 0 1rem;
}

.footer {
	margin: 1rem;
	font-size: 0.5rem;
	color: #999;
}

p svg {
	float: right;
	margin: 0 auto;
	margin-bottom: .5em;
	margin-left: .5em;
	display: block;
	max-width: 100%;
}

.github-corner-svg {
	fill: #151513;
	opacity: 0.95;
	color: #fff;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.octo-arm-transform {
	transform-origin: 130px 106px;
}

.mastodon-logo {
	width: 31px;
	height: auto;
}

.feed {
	width: 31px;
	height: auto;
}

p.links a svg,
p.links a img {
	padding-left: 10px;
}


/* octocat animation */
.github-corner:hover .octo-arm { animation: octocat-wave 560ms ease-in-out }

@keyframes octocat-wave {
	0%,100% { transform:rotate(0) }
	20%,60% { transform:rotate(-25deg) }
	40%,80% { transform:rotate(10deg) }
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm { animation:none }
	.github-corner .octo-arm { animation:octocat-wave 560ms ease-in-out }

	.content {
		margin: 0;
	}
	body {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	h1:first-of-type {
		font-size: 3.5rem;
		padding-top: 2rem;
	}
}
